.btn-learn-more {
  background-color: #607D8B;
  border: 1px;
  border-radius: 5px;
  color: #F5F5F5;
  margin-top: 5px; 
  outline: none;
  padding: 0.5em;
}

.btn-learn-more:hover {
  background-color: #455A64;
  transition-duration: .3s;
}

.landing {
  height: 100%;
  width: 100%;
  background-image: url("/img/sunrise.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: table; /* default visibility: table*/
  vertical-align: middle;
}

.landing-container {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.landing-content {
  background-color: rgba(0,0,0,0.6);
  border: 2px;
  border-color: #f9f9f9;
  border-radius: 5px;
  border-style: solid;
  color: #f9f9f9;
  display: inline-block;
  padding: 5px 15px 15px 15px;
  margin: 5px;
}
