a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
	color: #FF5722;
  text-decoration: none;
	transition-duration: .3s;
	transition-timing-function: ease-in-out;
}

a:active {
  text-decoration: none;
}

#about {
  text-align: center;
}

#contact-me .btn {
  background-color: #607D8B;
  color: #F5F5F5;
  padding: 0.5em;
}

#contact-me .btn:hover {
  background-color: #455A64;
  transition-duration: .3s;
}

#intro img {
  height: 25%;
  width: 25%;
  min-height: 200px;
  min-width: 200px;
  transform: translateX(10%);
}

.blurb {
  transform: translateX(-25%);
  transform: translateY(50%);
}

@media (max-width: 767px) {
  #intro img {
    transform: translateX(0%);
  }
  .blurb {
    transform: translateX(0%);
    transform: translateY(0%);
  }
}

@media (max-device-width: 992px) {
  #intro img {
    height: 45%;
    width: 45%;
    tranform:translateX(0%);
  }
  .blurb {
    transform: translateX(0%);
    transform: translateY(0%);
  }
}

.main {
	display: none;
  opacity: 0;
}


nav {
	font-size: 1.3em;
}

.side-nav {
  height: 20px;
  background-image: url(http://material-design.storage.googleapis.com/images/hamburger.svg); 
  background-repeat: no-repeat;
}