a:hover {
	color: #FF5722;
	transition-duration: .3s;
	transition-timing-function: ease-in-out;
}

body, 
html, 
.landing {
	height: 100%;
	width: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.btn-learn-more {
  background-color: #607D8B;
  border: 1px;
  border-radius: 5px;
  color: #F5F5F5;
  margin-top: 10px; 
  padding: 0.75em;
}

.btn-learn-more:hover {
  background-color: #455A64;
  transition-duration: .3s;
}

.landing {
  display: block;
	text-align: center;
  position: relative;
}

.landing-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%); 
}

.main {
	display: none;
}

nav {
	font-size: 1.3em;
}

.nav-show {
  padding: 20px;
}