.main {
  display: none;
  opacity: 0;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
	color: #FF5722;
  text-decoration: none;
	transition-duration: .3s;
	transition-timing-function: ease-in-out;
}

a:active {
  text-decoration: none;
}

.dog-ear {
  text-align: left;
  margin-left: 1.5em;
  margin-bottom: 10px;
}

#about {
  text-align: center;
}

#about p {
  font-size: 1.5em;
  margin-right: 2em;
  margin-left: 2em;
  text-align: center;
}

#intro h1 {
  font-size: 3em;
}

.portrait {
  display: inline-block;
  width: 300px;
  margin-left: -20px;
  margin-right: 20px;
}

.portrait-img {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  vertical-align: middle;
}

.blurb {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

#projects h2 {
  margin-top: 10px;
}

#projects p {
  font-size: 1.5em;
  margin-right: 2em;
  margin-left: 2em;
  text-align: center;
}

#contact-me .btn {
  background-color: #607D8B;
  color: #F5F5F5;
  padding: 0.5em;
}

#contact-me .btn:hover {
  background-color: #455A64;
  transition-duration: .3s;
}

@media (max-width: 767px) {
  .portrait {
    display: block;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
  }
  .portrait-img {
    margin: auto;
  }
  .blurb {
    margin-top: 1em;
    text-align: center;
    width: 100%;
  }
  .dog-ear {
    margin-left: 0.5em;
  }
}

@media (max-device-width: 992px) {
   .portrait {
    display: block;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
  }
  .portrait-img {
    height: 75%;
    width: 75%;
    margin: auto;
  }
  .blurb {
    margin-top: 1em; 
    text-align: center;
    width: 100%;
  }
  .dog-ear {
    margin-left: 0.5em;
  }

  #about p {
    font-size: 1.5em;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
  }
  #projects p {
    font-size: 1.5em;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
  }
}


nav {
	font-size: 1.3em;
}

.side-nav {
  height: 20px;
  background-image: url(http://material-design.storage.googleapis.com/images/hamburger.svg); 
  background-repeat: no-repeat;
}