a {
  text-decoration: none;
}

a:hover {
	color: #FF5722;
	transition-duration: .3s;
	transition-timing-function: ease-in-out;
  text-decoration: none;
}

#about {
  text-align: center;
}

#contact-me .btn {
  background-color: #607D8B;
  color: #F5F5F5;
}

#contact-me .btn:hover {
  background-color: #455A64;
  transition-duration: .3s;
}

img {
  height: 25%;
  width: 25%;
}

.main {
	display: none;
  opacity: 0;
}

nav {
	font-size: 1.3em;
}

.side-nav {
  height: 20px;
  background-image: url(http://material-design.storage.googleapis.com/images/hamburger.svg); 
  background-repeat: no-repeat;
}
